extends layout

block content
  h1= error
  pre #{error_description}
  pre If ypu used a social provider to sign in and the Social provider is using Auth0's Dev keys a lot of features including SSO and Check Session do not work. For more details see: <a href="https://auth0.com/docs/connections/social/devkeys">https://auth0.com/docs/connections/social/devkeys</a> 
