doctype html
html
  head
    title Regular Web App
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/w3.css')
    script(src="https://code.jquery.com/jquery-3.1.1.min.js")
    script(src="https://cdn.auth0.com/js/lock/11.4.0/lock.min.js")
    script(src="https://cdn.auth0.com/js/auth0/9.4.2/auth0.min.js")

  body
    nav.w3-bar.w3-border.w3-light-grey( role="navigation" )
      .w3-bar-item.w3-text-grey Auth0 - NodeJS
      a( href="/").w3-bar-item.w3-button Home
      if loggedIn
        a( href="/user" ).w3-bar-item.w3-button Profile
        a( href="/logout" ).w3-bar-item.w3-button Logout
      else
        a( href="/elogin" ).w3-bar-item.w3-button Embedded Login
        a( href="/clogin" ).w3-bar-item.w3-button Universal Login

    block content
